blinker==1.8.2
Brotli
certifi>=2024.0.0
cffi
charset-normalizer
click
cssselect2
Flask==3.1.1
fonttools
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pillow
playwright==1.41.2
pycparser
pydyf
pyee
pyphen
requests
tinycss2
tinyhtml5
typing_extensions
urllib3
weasyprint
webencodings
Werkzeug
zopfli
